
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1 id="idh1">@ViewBag.MiMensaje</h1>

<script>
    $("#idh1").click(
        alert('hola mundooooo');

    

</script>
@section scripts
{
    
<script src="~/Scripts/jquery-1.10.2.js"></script>
    
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    
<script src="~/Scripts/MiUsuarioScript.js"></script>
}